
.chatExpansion{
  background-color: white;
  color: white;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 35px;
}
.chatExpansion img{
    max-width: 100%;
}


.chatForm {
  
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}


.chatContainer {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.chatContainer textarea {
  
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 20px;
  max-width: 85%;
  flex:1 1 90%;
}
.sendButton{
    flex: 1 1 10%;
}
.chatContainer textarea:focus {
  background-color: #ddd;
  outline: none;
}
.chatHistory{
    flex: 1 1 100%;
}

.chatContainer  {
  opacity: 1;
} 
/*Chat Box*/
.chatSelectorFlex{
  flex:1 1 80%;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  /*overflow-x: scroll;*/
}
.chatSelector{
flex: 1 1 15%;
border-left: 1px solid black;

text-align: center;
}
.chatContainer:nth-child(2){
  justify-items: flex-end;
}

.Xdiv{
  padding: 0;
  margin: 0;
  flex: 1 1 10%;
  max-width: 10%;
  border: 1px solid black;
}
.closeButton img{
  max-width: 100%;
}
.chatHistory{
  border:1px solid black;
  display: flex;
  flex-direction: column;

}
.recieved{
  margin-top: 2px;
  margin-bottom: 2px;
  align-self: left;
  flex: 1 1 80%;
  max-width: 80%;
  border: 1px solid black;
}
.sent{
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 20%;
  flex: 1 1 80%;
  max-width: 80%;
  border: 1px solid black;

}
=======


.chatExpansion{
  background-color: white;
  color: white;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 35px;
}
.chatExpansion img{
    max-width: 100%;
}


.chatForm {
  
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}


.chatContainer {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.chatContainer textarea {
  
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 20px;
  max-width: 85%;
  flex:1 1 90%;
}
.sendButton{
    flex: 1 1 10%;
}
.chatContainer textarea:focus {
  background-color: #ddd;
  outline: none;
}
.chatHistory{
    flex: 1 1 100%;
}

.chatContainer  {
  opacity: 1;
} 
/*Chat Box*/
.chatSelectorFlex{
  flex:1 1 80%;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  /*overflow-x: scroll;*/
}
.chatSelector{
flex: 1 1 15%;
border-left: 1px solid black;

text-align: center;
}
.chatContainer:nth-child(2){
  justify-items: flex-end;
}

.Xdiv{
  padding: 0;
  margin: 0;
  flex: 1 1 10%;
  max-width: 10%;
  border: 1px solid black;
}
.closeButton img{
  max-width: 100%;
}
.chatHistory{
  border:1px solid black;
  display: flex;
  flex-direction: column;

}
.recieved{
  margin-top: 2px;
  margin-bottom: 2px;
  align-self: left;
  flex: 1 1 80%;
  max-width: 80%;
  border: 1px solid black;
}
.sent{
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 20%;
  flex: 1 1 80%;
  max-width: 80%;
  border: 1px solid black;

}

