
.wrapperBoard {
    border: 49px solid #3a231d;
    width: 570px;
    margin-top: 20px;
}

.conteiner{
    display:grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    grid-auto-flow: row;
    border: 5px solid black;
}

.box {
    padding: 20px;
    font-size: 150%;
    background-color: #d1a86f;
    color: #000;
    text-align: center;
  }

.box:nth-child(-2n+8),
.box:nth-child(8) ~ div:nth-child(-2n+15),
.box:nth-child(16) ~ div:nth-child(-2n+24),
.box:nth-child(24) ~ div:nth-child(-2n+31), 
.box:nth-child(32) ~ div:nth-child(-2n+40), 
.box:nth-child(40) ~ div:nth-child(-2n+47), 
.box:nth-child(48) ~ div:nth-child(-2n+56), 
.box:nth-child(56) ~ div:nth-child(-2n+63){
    background-color: #4b210b;
    color: #fff;
}

.white_pawn{
    background-image: url(../img/white_pawn.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: #d1a86f; */
}
.gameInfo{
    margin-top: 20px;
    flex:1 1 30%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.player{
    flex: 1 1 100%;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    
}
.player img{
    
    max-width: 150px;
}