/* Active game display section*/
.activeGame{
    flex: 1 1 100%;
    margin-top: 25px;
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    align-content: space-around;
    gap :15px;
}
.activeGame::-webkit-scrollbar{
    width: 10px;
    padding: 10px;
}

.activeGame::-webkit-scrollbar-track {
    background: #1e1e24;
}

.activeGame::-webkit-scrollbar-thumb {
    background: #b93c3c;
}

.activeGame::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.activeGame div{
    flex-direction: 1 1 100%;
}

.activeGame div img{
    max-width: 150px;
}
/*Text Box*/
.textBox{
    margin-top:20px;
    font-family: sans-serif;
    font-size: 15px;
    flex: 1 1 30%;
    max-width: 35%;
}
.textBox h1{
    font-size: 21px;
}
.textBox p{
    text-align:justify;
}
/*Daily Puzzle*/
.dailyPuzzle{
    flex: 1 1 60%;
}
.dailyPuzzle img{
    max-width: 80%;
}

/*Home*/
.home{
    margin: 2.5em;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    align-content:space-around;
}
/*Explorer*/
.explorer{
    background-color: var(--bg-primary);
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 3px;
    margin: 0;
}
.explorer a{
    font-size: large;
    text-decoration: none;
    color: #7a2222;
    text-align: center;
    margin-right: 15px;
    font-weight: bold;
}
.explorer a:hover{
    font-weight: 900;
}