* { 
    padding: 0; 
    margin: 0; 
    font-family: sans-serif;
}
html,body {
     height:100%; 
     
    }

#wrapper{
    width: 100%;
    min-height: 100%;
    background-color:gainsboro;
   
}
/*Header*/
.header{
    background-color:rgb(12, 99, 16);
    padding-left:160px;
    display: flex;
    flex-direction: row-reverse;
    padding: 3px;
    
}
.header a:nth-child(1){
    margin-right: 5px;
}
.header a{
    font-size: large;
    text-decoration: none;
    color: white;
    text-align: center;
}
.header a:hover{
    text-decoration: underline;
}
.verticalRuler{
    border-left: 2px solid white;
    margin: 4px;
    
}
/*Sidebar*/
.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(37, 37, 37); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    
    
   
    
}
.sidebar :nth-child(1){
    margin: 10px 0px;
}

.sidebar a {
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: rgb(165, 168, 165);
    text-align: center;
    
}

.sidebar a:hover{
    
    color: whitesmoke;
}
.sidebar div{
    border:solid 2px #818181;   
    
}

/*Main content container*/
#main{
    padding-left: 160px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    align-content:space-around;
}
/* Active game display section*/
.activeGame{
    flex: 1 1 100%;
    margin-top: 25px;
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    align-content: space-around;
    gap :15px;
}
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgba(12, 99, 16, 0.788);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.activeGame div{
    flex-direction: 1 1 100%;
}

.activeGame div img{
    max-width: 150px;
}
/*Text Box*/
.textBox{
    margin-top:20px;
    font-family: sans-serif;
    font-size: 15px;
    flex: 1 1 35%;
    max-width: 35%;
}
.textBox h1{
    font-size: 21px;
}
.textBox p{
    text-align:justify;
}
/*Daily Puzzle*/
.dailyPuzzle{
    flex: 1 1 60%;
}
.dailyPuzzle img{
    max-width: 80%;
}
/*Chat Box*/

.explorer{
    background-color:white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 3px;
}
.explorer a{
    font-size: large;
    text-decoration: none;
    color: rgb(12, 99, 16);
    text-align: center;
    margin-right: 15px;
    font-weight: bold;
}
.explorer a:hover{
    font-weight: 800;
}
