<main>
    <script src="js/endingsConstructor.js" defer></script>
    <script src="js/explorer.js" defer></script>

    <div class="explorer">
            
    </div>
    <div class="open_end_show">
        <div id=title>Endings</div>
    </div>
    <!--Chat-->
    <button class="chatExpansion" onclick="openForm()"><img src="source/social.jpg" alt="chat"></button>
    <div class="chatBox">                 
    </div>
</main>