<main>
  <div class="home">
    <div class="posCenter">
        <div class="form-popup"  id="pop_up">
            <form action="newGame" class="posfield">
                <input type="submit" value="Join" />
            </form>
        </div>
        <form action="#" class="posfield" id="createGame">
            <input type="submit" value="Create a new Game" />
        </form>
        <button id="myBtn" onclick="searchUsers()">Search for a Game</button>
        <div id="filler">
            
          {{!-- <img src="source/chessboard.png" alt=""> --}}
        </div>
    </div>
    <!--Chat-->
    <button class="chatExpansion" onclick="openForm()"><img src="source/social.jpg" alt="chat"></button>
    <div class="chatBox">
        <form class="chatContainer chatForm" action="">
            <div class="chatSelectorFlex">
            <div class="chatSelector selected">
                <span>Λουκάς</span>
            </div>
            <div class="chatSelector">
                <span>Άρης</span>
            </div>
            <div class="chatSelector">
                <span>Κωστας</span>
            </div>
        </div>
            <div class="Xdiv">
                <button class="closeButton" onclick="closeForm()" type="button">
                    <img src="source/x.jpg" alt="">
                    
                </button>
            </div>
            
            
            <div class="chatHistory">
                <div class="sent">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos tempore distinctio eaque laudantium nam quaerat inventore rem debitis illum, vitae corporis unde quidem illo est, qui ipsam praesentium minus vel.
                </div>
                <div class="recieved">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos tempore distinctio eaque laudantium nam quaerat 
                </div>
                
                <div class="recieved">
                    inventore rem debitis illum, vitae corporis unde quidem illo est, qui ipsam praesentium minus vel.
                </div>
                <div class="sent">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos tempore distinctio eaque laudantium nam quaerat inventore rem debitis illum, vitae corporis unde quidem illo est, qui ipsam praesentium minus vel.
                </div>
                
            </div>
            <textarea name="chatbox" id="chatbox"   placeholder="Type message..." required></textarea>
            <button type="submit" class="sendButton">Send</button>

        </form>                 
    </div>
  </div>
    <script src="js/searchUsers.js"></script>
    <script defer src="js/lobbyBoard.js"></script>
</main>