<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/navStyle.css" />
    <link rel="stylesheet" href="/css/loginStyle.css" />
    <script defer src="/js/transition.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">Login</div>
            <div class="title register">Register</div>
        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slider" id="login" checked>
                <input type="radio" name="slider" id="signup">
                <label for="login" class="slide login">Login</label>
                <label for="signup" class="slide signup">Signup</label>
                <div class="slide-tab"></div>
            </div>
            <div class="form-inner">

                <form action="/login" method="post" class="login">
                    <div class="field">
                        <input type="text" placeholder="User Name" name="username" required>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Password" name="password" required>
                    </div>
                    <div class="pass-link"><a href="#">Forgot password</a></div>
                    <div class="field">
                        <input type="submit" value="Login">
                    </div>
                    {{#if message}}
                        <div class="pass-link">
                            {{message}}
                        </div>
                    {{/if}}
                </form>

                <form action="/register" method="post" class="signup">
                    <div class="field">
                        <input type="text" placeholder="User Name" name="username" required>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Password" name="password" required>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Email Address" name="email" required>
                    </div>
                    <div class="field">
                        <input type="submit" value="Signup">
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
</html>