<main>
    <script src="js/NewGame.js" defer></script>
  <div class="home">
    <!--Bandaid-->
    <div class="test">
        <div class="wrapperBoard" id="board">
        <!--Bandaid-->
        </div>
    </div>
    <div class="gameInfo"> 
        <div class="player">
            <img src="source/hat-icon.png" alt="">
            <span id="player1" class="playerNames">{{player1}}</span>
        </div>
        <div class="score">
            0 - 0        
        </div>
        <div class="player">
            <img src="source/hat-icon.png" alt="">
            <span  id="player2" class="playerNames">{{player2}}</span>
        </div>
    </div>
    <!--Chat-->
    <button class="chatExpansion" onclick="openForm()"><img src="source/social.jpg" alt="chat"></button>
    <div class="chatBox">                 
    </div>
  </div>
</main>