
<main>
    <script src="js/self_analyzing.js" defer></script>
    <script src="js/explorer.js" defer></script>
    <div class="explorer">
            
    </div>
    <div class="Practice">
        <div id="title">Self Analyzing</div>
        <div class="test" id="selfAnalyzing"></div>
    </div>
    <!--Chat-->
    <button class="chatExpansion" onclick="openForm()"><img src="source/social.jpg" alt="chat"></button>
    <div class="chatBox">                 
    </div>
</main>