.chatExpansion{
  background-color: white;
  color: white;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 35px;
}

.chatExpansion img{
    max-width: 100%;
}

.chatForm {
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

.chatContainer {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.chatContainer textarea {
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 20px;
  max-width: 85%;
  flex:1 1 90%;
}

.sendButton{
    flex: 1 1 10%;
}

.chatContainer textarea:focus {
  background-color: #ddd;
  outline: none;
}

.chatHistory{
    flex: 1 1 100%;
    max-height: 350px;
}

.chatContainer  {
  opacity: 1;
} 

/*Chat Box*/
.chatSelectorFlex{
  flex:1 1 80%;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  
  background-color: #b93c3c;

  /*overflow-x: scroll;*/
}
.chatSelector{
flex: 1 1 15%;
text-align: center;
border: 1px solid whitesmoke;
display: flex;
align-items: center;
color: whitesmoke;
font-weight:bold;
}
.chatSelector span{
  flex :1 1 100%;
}
.selected{
  background-color: #7a2222;
}
.chatContainer:nth-child(2){
  justify-items: flex-end;
}

.Xdiv{
  padding: 0;
  margin: 0;
  flex: 1 1 10%;
  max-width: 10%;
  border: 1px solid black;
}
.closeButton img{
  max-width: 100%;
}
.chatHistory{
  border:1px solid black;
  display: flex;
  flex-direction:column-reverse ;
  overflow-y:scroll;

}
.recieved{
  margin-top: 2px;
  margin-bottom: 2px;
  align-self: left;
  flex: 1 1 80%;
  max-width: 80%;
  border: 1px solid black;
  background-color: whitesmoke;
  padding: 2px;
}
.sent{
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 20%;
  flex: 1 1 80%;
  max-width: 80%;
  border: 1px solid black;
  background-color: rgb(240, 240, 240);
  padding: 2px;
}
.chatContainer{
  background-color: rgba(51, 51, 51, 0.897);
}
