.test div{
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}
.test {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border: 1em solid #3a231d;
    max-width: 600px;
    max-height: 600px;
    margin-top: 20px;
}
.show{
    max-width: 162px;
    max-height:162px;
    min-width: 162px;
    min-height: 162px;
}
.show div{
    max-width: 100%;
    max-height: 100%;
}
.show div img{
    max-height: 100%;
    max-width: 100%;
    padding: 0%;
}
.wrapperBoard {
    
    height: 100%;
    width: 100%;
}

.selectedPiece {
    -webkit-filter: drop-shadow(0px 0px 10px #ffee10);
    filter: drop-shadow(0px 0px 10px #ffee10);
}

.conteiner{

    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8,  1fr);
    grid-auto-flow: row;
    border: 1px solid black;
}
.conteiner div{
    max-width: 100%;
    max-height: 100%;   
}

.box {
    padding: auto;
    font-size: 150%;
    background-color: #d1a86f;
    color: #000;
    text-align: center;
  }
.box img{
    max-width: 100%;
}
.box:nth-child(-2n+8),
.box:nth-child(8) ~ div:nth-child(-2n+15),
.box:nth-child(16) ~ div:nth-child(-2n+24),
.box:nth-child(24) ~ div:nth-child(-2n+31), 
.box:nth-child(32) ~ div:nth-child(-2n+40), 
.box:nth-child(40) ~ div:nth-child(-2n+47), 
.box:nth-child(48) ~ div:nth-child(-2n+56), 
.box:nth-child(56) ~ div:nth-child(-2n+63){
    background-color: #4b210b;
    color: #fff;
}

.reverseBox{
    padding: auto;
    font-size: 150%;
    background-color: #4b210b;
    color: #000;
    text-align: center;
}
.reverseBox img{
    max-width: 100%;
}
.reverseBox:nth-child(-2n+8),
.reverseBox:nth-child(8) ~ div:nth-child(-2n+15),
.reverseBox:nth-child(16) ~ div:nth-child(-2n+24),
.reverseBox:nth-child(24) ~ div:nth-child(-2n+31), 
.reverseBox:nth-child(32) ~ div:nth-child(-2n+40), 
.reverseBox:nth-child(40) ~ div:nth-child(-2n+47), 
.reverseBox:nth-child(48) ~ div:nth-child(-2n+56), 
.reverseBox:nth-child(56) ~ div:nth-child(-2n+63){
    background-color: #d1a86f ;
    color: #fff;
   
}


.gameInfo{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.player{
    flex: 1 1 100%;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.player img{
    
    max-width: 150px;
}

.posCenter{
    margin-left: auto;
    margin-right: auto;
    display: grid;  
}
.posfield{
	width: 100%;
    padding: 2em, 0;
    text-align: center;

}
#myBtn {
    margin: auto;
    margin-bottom: 0.5em;
    color: #ececec;
	font-size: 1.5em;
	width: 15em;
	font-weight: 500;
	border-radius: 0.1em;
	border: none;
	cursor: pointer;
	background: -webkit-linear-gradient(left, #cf3b3b, #7a2222);
}
.posfield input[type="submit"]{
    justify-content: center;
	color: #ececec;
	font-size: 1.5em;
	width: 15em;
	font-weight: 500;
	border-radius: 0.1em;
	border: none;
	cursor: pointer;
	background: -webkit-linear-gradient(left, #cf3b3b, #7a2222);
}

.form-popup {
    display: none;
  }

.playerNames {
    font-size: 14px;
    font-weight: 300;
    padding: 6px 14px;
    border: 2px solid transparent;
}
.playerTurn{
    border: 2px solid #b93c3c;
    border-radius: 15px;
}

@media only screen and (max-width: 1000px) {
    .test {
        margin-left: auto;
        margin-right: auto;
    }
    .gameInfo{
        flex-wrap: nowrap;
        flex:1 1 30%;
    }
    .gameInfo div{
        flex-wrap: nowrap;
        flex: 1 1 30%;
    }
    .score{
        position: fixed;
        left: 50%;
        transform: translate(+50%, 0);
    }
}