
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
	font-size: 10px;
}
html, body{
	display: grid;
	height: 100%;
	width: 100%;
	place-items: center;
	background: -webkit-linear-gradient(left, #cf3b3b, #7a2222);
}

.wrapper{
	overflow: hidden;
	max-width: 40em;
	background: #fff;
	padding: 3em;
	border-radius: 0.5em;
	box-shadow: 0 1.5em 2em rgba(0,0,0,0.1);
}

.wrapper .title-text{
	display: flex;
	width: 200%;
}

.wrapper .title-text .title{
	width: 50%;
	font-size: 4em;
	font-weight: 600;
	text-align: center;
	transition: var(--transition-speed);
}

.wrapper .form-container{
	width: 100%;
	overflow: hidden;
}

.form-container .slide-controls{
	position: relative;
	display: flex;
	height: 50%;
	width: 100%;
	border-radius: 0.5em;
	overflow: hidden;
	margin: 3em 0 1em 0;
	justify-content: space-between;
	border: 0.1em solid lightgrey;
}

.slide-controls .slide{
	height: 100%;
	width: 100%;
	z-index: 1;
	color: #fff;
	font-size: 1.8em;
	font-weight: 500;
	text-align: center;
	line-height: 4.8em;
	cursor: pointer;
	transition: all 0.6s ease;
}

.slide-controls .signup{
	color: #000;
}

.slide-controls .slide-tab{
	position: absolute;
	height: 100%;
	width: 50%;
	left: 0;
	z-index: 0;
	border-radius: 0.5em;
	transition: var(--transition-speed);
	background: -webkit-linear-gradient(left, #cf3b3b, #7a2222);
}

input[type="radio"]{
	display: none;
}

#signup:checked ~ .slide-tab{
	left: 50%;
}

#signup:checked ~ .signup{
	color: #fff;
}

#signup:checked ~ .login{
	color: #000;
}

.form-container .form-inner{
	display: flex;
	width: 200%;
}

.form-container .form-inner form{
	width: 50%;
	transition: var(--transition-speed);
}

.form-inner form .field{
	height: 5em;
	width: 100%;
	margin-top: 2em;
}

.form-inner form .field input{
	height: 100%;
	width: 100%;
	outline: none;
	padding-left: 1.5em;
	font-size: 1.7em;
	border-radius: 0.5em;
	border: 0.1em solid lightgrey;
	border-bottom-width: 0.2em;
	transition: all 0.4s ease;
}

.form-inner form .field input:focus{
	border-color: #b93c3c;
}

.form-inner form .pass-link{
	margin-top: 0.5em;
}

.form-inner form .signup-link{
	text-align: center;
	margin-top: 0.5em;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a{
	color: #7a2222;
	text-decoration: none;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
	text-decoration: underline;
}

form .field input[type="submit"]{
	color: #ececec;
	font-size: 2em;
	font-weight: 500;
	padding-left: 0em;
	border: none;
	cursor: pointer;
	background: -webkit-linear-gradient(left, #cf3b3b, #7a2222);
}

