.open_end_show{
    flex: 1 1 100%;
    margin: 2.5em;
    display: flex;
    overflow-x: auto;
    flex-direction: column;
    gap: 20px;
}


#title{
    font-size: 200%;
    font-weight: bold;
    color: black;
}