.panel {
    width: 100%;
    height: 400px;
    background: #b93c3c;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    overflow: hidden;
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 60px;
    background: #fff;
}
.panel-body {
    display: flex;
    height: 340px;
}

.title {
    color: #5E6977;
    font-weight: 500;
}

.calendar-views span {
    font-size: 14px;
    font-weight: 300;
    color: #5E6977;
    padding: 6px 14px;
    border: 2px solid transparent;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 25%;
    padding: 39px 0px 41px 26px;
}
.category {
    display: flex;
    flex-direction: column;
}
.category span:first-child {
    font-weight: 300;
    font-size: 14px;
    opacity: 0.6;
    color: #fff;
    margin-bottom: 6px;
}
.category span:last-child {
    font-size: 32px;
    font-weight: 300;
    color: #fff;
}

.chart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    position: relative;
}

.operating-systems {
    display: flex;
    justify-content: space-between;
    width: 215px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.stats {
    font-size: 14px;
    font-weight: 300;
    font-size: 14px;
    color: #c3c6e4;  
}

.stats span {
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 9px;
}
.bullet span {
    background: #80B354;
}
.blitz span {
    background: #F5A623;
}
.rapid span {
    background: #F8E71C;
}

.calendar-views span:hover {
    border: 2px solid #b93c3c;
    cursor: pointer;
    border-radius: 15px;
  }

  .dataset-1 {
    animation: raise .8s linear 1;
    transform-origin: bottom;
  }
  .dataset-2 {
    animation: raise 1.6s linear 1;
    transform-origin: bottom;
  }
  .dataset-3 {
    animation: raise 1.8s linear 1;
    transform-origin: bottom;
  }
   
  .lines {
    opacity: 0;
    animation: showlines 0.6s linear 1.6s;
    animation-fill-mode: forwards;  
  }
   
  @keyframes showlines {
    to { opacity: 0.2; }
  }
   
  @keyframes showstats {
    to { opacity: 1; }
  }
   
  @keyframes raise {
    0% { transform: scaleY(0.01); }
    75% { transform: scaleY(1.1); }
    100% { transform: scaleY(1); }
  }