* { 
    padding: 0; 
    margin: 0; 
    font-family: sans-serif;
}
html,body {
     height:100%; 
     
    }

#wrapper{
    width: 100%;
    min-height: 100%;
    /* background-color:rgb(106, 107, 121); */
   
}
#header{
    background-color: rgba(6, 151, 248, 0.726);
    
}
#header{
    padding-left:160px;
}
#sidebar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(43, 43, 43); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 12px;
    
}
.sidebar_a {
    padding-left: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidebar_a:hover{
    color: whitesmoke;
}
#main{
    padding-left: 160px;
}
.sidebar_divs{
    border:solid 2px #818181;;
    margin: 10px 1px;
    padding: 4px;
    
    
}